/* CSS Variables */
:root {
	--darkSystemGray: rgb(28, 28, 30);
	--lightSystemBlue: rgb(0, 122, 255);
	--darkSystemBlue: rgb(10, 132, 255);
	--lightSystemGreen: rgb(52, 199, 89);
	--darkSystemGreen: rgb(48, 209, 88);
	--textColor: white;
}

body {
	background-color: var(--darkSystemGray);
	color: var(--textColor);
}

.App {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#array-display {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	max-width: 75vw;
}

.bar {
	width: 40px;
	background-color: var(--darkSystemBlue);
	border: 2px solid var(--textColor);
}

#sort-btn {
	background-color: var(--darkSystemGreen);
	border-radius: 5%;
	width: 100px;
	height: 40px;
	color: var(--textColor);
	border: none;
	padding: 10px;
	margin: 10px;
}

#sort-btn:hover {
	transform: scale(1.1);
	background-color: var(--darkSystemBlue);
}

#nav-bar {
	background-color: red;
	width: 100%;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
